node_modules
env
Data
archieve
archive
*.env

.env.development
.env.production
.env.test

.envbase.db
.DS_Store_Store
.vscode
logs
*.log
kubernetes
*.local

dist
build
.tmp
.cache

.idea
*.iml

coverage
.nyc_output